.div_rate {
    padding: 10px;
    background: #f1f1f1;
    font-family: 'Oswald', 'Futura', sans-serif;
}
table {
    font-family: arial, sans-serif;
    width: 100%;
    color: black;
    border: 1px solid black;

}

td, th {
    text-align: left;
    color: #181818;
}
form p{
    text-align: left;
    font-family: 'Oswald', 'Futura', sans-serif;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
button{
    height: 20px;
    width: 100px;
    background-color: #ff8f05;
    color: #181818;
    margin-bottom: 5px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(251, 86, 5, 0.65);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 2px;
    resize: vertical;
    color: #ff8f05;

}
#errorMessage {
    color: #000000;
    background-image: url('../image/warning.png');
    background-repeat: no-repeat;
    background-position: 2px 14px;
    padding: 10px 0 0 22px;
    ;
}
#errorMessage.warning {
    background-image: url('../image/warning.png');
}
p{
    font-family: 'Oswald', 'Futura', sans-serif;
    font-size: 12px;
    color: #181818;
}
table p{
    font-family: 'Oswald', 'Futura', sans-serif;
    font-size: 12px;
    color: #181818;
}